<li class="my-1">
    {{#unless completed}}
        <div class="py-4 px-2 border border-primary complete" data-id="{{id}}" data-completed="{{completed}}">
            {{id}}. {{todo}}
        </div>
    {{/unless}}

    {{#if completed}}
        <div class="py-4 px-2 border border-secondary completed">
            {{id}}. {{todo}}
        </div>
    {{/if}}
</li>
